api = "0.7"

[buildpack]
  description = "A buildpack for installing Go modules using go mod"
  homepage = "https://github.com/paketo-buildpacks/go-mod-vendor"
  id = "paketo-buildpacks/go-mod-vendor"
  keywords = ["go", "mod", "vendor", "modules"]
  name = "Paketo Buildpack for Go Mod Vendor"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]
  version = "1.0.37"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/go-mod-vendor/blob/main/LICENSE"

[metadata]
  include-files = ["bin/build", "bin/detect", "bin/run", "buildpack.toml"]
  pre-package = "./scripts/build.sh"

[[stacks]]
  id = "*"
